<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>BMX Academy 2013</title>
    <link rel="icon" href="http://michaelsvarc.com/bmx/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{STATIC_URL}}bmxacademy/css/screen.css" media="screen"/>
  
    <link rel="stylesheet" href="{{STATIC_URL}}bmxacademy/css/slide.css"/>
    
    
</head>
<body>
<!-- BACKGROUND HACK
<div id="background_wrap"></div>     
-->
<div class="wrapper">
    <div id="lista">
        <a target="blank" href="http://www.youtube.com/bmxacademyCZ" class="icon_yt"></a>
        <a target="blank" href="http://www.facebook.com/bmxacademy" class="icon_fcb"></a>
        <a target="blank" href="/static/static/bmxacademy/info2013.pdf" class="information"></a>
        <a target="blank" href="#top" class="icon_home"></a>
    </div>
    <!-- lista -->
</div>
<!-- wrapper -->
<div class="prostredek">
    <a href="#top" id="head"><span>BMX Academy s Michalem Beranem 11. - 18. SRPEN 2013</span></a>
</div>
<!-- prostredek -->
<div class="page_downer">
    <div class="wrapper" id="top">
        {% include "bmxacademy/menu.html" %}
        <img src="{{STATIC_URL}}bmxacademy/images/skatepark.png" alt="Skatepark Hradec Králové" class="middle">
        <img src="{{STATIC_URL}}bmxacademy/images/napis.png" width="960px" alt="11. - 18. 2013" class="middle">
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<p class="kopy">Copyright &copy; 2012-2013 – BMX Academy</p>
<div class="downer">
    <a href="#next" class="down" id="position-button"><span>down</span></a>
</div>
<div class="page_downer">
    <div class="wrapper" id="about">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/about.html" %}
        <div class="cistic"></div>
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="news">
        {% include "bmxacademy/menu.html" %}
        <p class="poctar"><span class="page_count">1</span>/<span class="page_total">1</span></p>
        <div style="clear:both;"></div>
        <div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                    {% include "bmxacademy/news.html" %}
                </div>
                <!-- End cs_slider -->
            </div>
            <!-- End cs_wrapper -->
        </div>
        <!-- End contentslider -->
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="gallery">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/gallery.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="video">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/video.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="partners">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/partners.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="contact">
        <a href="" id="_contact"></a>
        {% include "bmxacademy/menu.html" %}
        <div id="con_div" style="float:left;"></div>
        
         <div class="poradatel left">
    <h2>Pořadatel BMX Academy</h2>
    
    <p>Telefon: +420 608 844 878</p>
    <p>E-mail: info@bmxacademy.cz</p>
    <p>facebook: <a href="http://www.facebook.com/bmxacademy" target="_blank">BMX Academy</a></p>
    <p>YouTube: <a href="http://www.youtube.com/bmxacademyCZ" target="_blank">BMX Academy</a></p>
    <br>
    

   </div><!-- lefter -->
        
        
    </div>
    <!-- wrapper -->
    <div style="clear:both;"></div>
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="register">
        <a href="" id="_register"></a>
        
        <div class="beran " style="margin-top: 42px; position: absolute; margin-left: 720px;">
       <img src="/static/static/bmxacademy/images/signature.png" alt="Michael Beran" class="sig">
    <img src="/static/static/bmxacademy/images/mberan.jpg" alt="Michael Beran" class="beran_foto">
    <p><strong>Michael Beran</strong> <br>
doporučuje BMX Academy</p>
         </div>
        
        {% include "bmxacademy/menu.html" %}
        <div id="reg_div" style="float:left;"></div>

        
        
        <!-- menu -->
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div id="dummy"></div>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/lib/jquery-1.9.0.min.js"></script>
<!-- <script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.js"></script> -->
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/wheel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/touchwipe.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/disable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/scroller.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bootstrap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.ennui.contentslider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bootstrap-tabs.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/videoSlider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/other.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/source/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bmxacademy/fancybox/source/jquery.fancybox.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bmxacademy/fancybox/source/helpers/jquery.fancybox-buttons.css" />
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bmxacademy/fancybox/source/helpers/jquery.fancybox-thumbs.css" />
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/fancybox/source/helpers/jquery.fancybox-media.js"></script>
<!-- Arquivos utilizados pelo jQuery lightBox plugin -->
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/jlb/script.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bmxacademy/jlb/style.css" media="screen" />
<!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->

<script type="text/javascript">
    $(document).ready(function() {
        jQuery('.fancybox-media').attr('rel', 'media-gallery').fancybox({
            openEffect : 'none',
            closeEffect : 'none',
            prevEffect : 'none',
            nextEffect : 'none',
            arrows : false,
            helpers : {
                media : {},
                buttons : {}
            }
        });
        jQuery('.fancybox-media-photo').attr('rel', 'media-gallery').fancybox({
           prevEffect   : 'none',
        nextEffect  : 'none',
        helpers : {
            title   : {
                type: 'outside'
            },
            thumbs  : {
                width   : 50,
                height  : 50
            }
        }
        });

        // $('.jlb').lightBox();

    });
</script>
<style type="text/css">
.fancybox-skin {background-color: black;}
</style>

<script type="text/javascript" src="/static/static/remote_ajax/main.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/form.js"></script>
<script type="text/javascript">
init_form2("/registration/");
init_form3("/contact/");
</script>

<script type="text/javascript">


</script>

</body>
</html>