 <h2>Cena campu</h2>
      <p class="polovina_big">Za stejnou cenu jako loni bude camp o jeden den delší, nebo za super cenu 6-ti denní
      varianta campu. </p>
      <ul class="odrazky">
        <li>8 dní od 11. do 18. srpna 2013 - 6.900 CZK</li>
        <li>6 dní od 11. do 16. srpna 2013 - 5.900 CZK</li>
       </ul>
      <p>Pokyny pro platbu rezervační zálohy, doplatku za camp a platby zprostředkované dopravy naleznete po provedení registrace v zasílaném potvrzovacím emailu.</p>
 <h2>Cena dopravy BMX Academy</h2>
 <p>Zprostředkování dopravy BMX Academy jeden směr.<br>Bratislava 500 Kč, Brno 400 Kč, Jihlava 300 Kč, Praha 200 Kč, Plzeň 200 Kč.</p>
 <p>Cena dopravy bude uhrazena spolu s doplatkem za camp.</p>
