<h2>Skatepark</h2>
    <p class="polovina_big">
    Oficiálním parkem pro ročník 2013 se stal Skatepark Chomutov, jeden z nejlepších skateparků
    v ČR, který je svou koncepcí vhodný jak pro začátečníky, tak pro pokročilé jezdce.
    Svou rozlohou 4.000 m² se řadí mezi největší skatepark v ČR.
    Park disponuje kombinací dřevěných, betonových a plechových překážek.
    Celý oplocený areál zůstal v původním malebném dolíku obklopeném vzrostlým
    lesem a areál tak splňuje nejen sportovní, ale i rekreační účel.
    V parku se nachází množství překážek ve třech úrovních. Horní zastřešená a
    osvětlená část obsahuje dřevěný bazén - bowl obřích rozměrů (patří mezi největší
    v Evropě), v prostřední je betonový street a spodní část obsahuje klasické překážky.
    V parku je dále k dispozici klubovna a sociální zázemí. Skatepark na BMX Academy doplníme o mobilni exhibiční fanbox a trampolínu. Jezdci BMX Academy navštíví v rámci campu další přední české skateparky.  
    </p>
    
    <p class="odkaz">Skatepark Chomutov, Kamenný Vrch <a href="https://maps.google.com/maps?q=Chomutov+Kamenn%C3%BD+Vrch&hl=cs&ie=UTF8&ll=50.486593,13.429992&spn=0.011837,0.031435&sll=37.0625,-95.677068&sspn=59.379225,128.759766&t=m&hq=Kamenn%C3%BD+Vrch&hnear=Chomutov,+%C4%8Cesk%C3%A1+republika&z=16" target="_blank">zobrazit na mapě</a></p>
